/*===== About Section =====*/
#particles {
    width: 100%;
    min-height: 100vh;
    position: absolute;
    z-index: 999;
}

.about__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
    z-index: 9999;
}

.about__img {
    width: 380px;
    border-radius: 1.5rem;
    justify-self: center;
    z-index: 9999;
}

.about__heading {
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    z-index: 9999;
}

.about__description {
    text-align: justify;
    padding-right: 6rem;
    color: white;
    margin-bottom: 2rem;
    z-index: 9999;
}

.about__info {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    column-gap: 3.5rem;
    margin-bottom: 3rem;
    z-index: 9999;
}

#map {
    justify-self: center;
    height: 200px;
    width: 500px;
    border-radius: 1.5rem;
}

.about__title {
    font-size: 0.875rem;
}

.about__subtitle {
    font-size: 0.813rem;
}

@media screen and (max-width: 1216px) {
    .about__container {
        column-gap: 2.5rem;
    }

    .about__description {
        padding-right: 0;
    }   
}

@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 350px;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: center;
    }

    #map {
        justify-content: center;
        padding-left: 100%;
    }

    .about__description {
        padding: 0 4rem;
        text-align: center;
    }
}

/* For Medium Devices */
@media screen and (max-width: 768px) {
    .about__img {
        width: 250px;
    }

    #map {
        justify-content: center;
        text-align: center;
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .my__info {
        display: none;
    }

    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        justify-self: center;
    }

    #map {
        padding-left: 100%;
        text-align: center;
        justify-content: center;
    }
}

/* For Small Devices */
@media screen and (max-width: 350px) {
    #map {
        justify-content: center;
        text-align: center;
        width: auto;
    }

    .about__description {
        font-size: 0.938rem;
        justify-self: center;
        text-align: center;
    }

    .about__container{
        grid-template-columns: 1fr;
        text-align: center;
    }
}