/*===== Home Section =====*/
.home__title {
    font-size: var(--biggest-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__img {
    height: 600px;
    width: 600px;
    max-height: 80vw;
    max-width: 80vw;
    overflow: hidden;
    border-radius: 50%;
    border: 20px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__img img {
    height: 100%;
}
/*=============== SIDEBAR ===============*/
.sidebar {
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: black;
    border-right: 1px solid white;
}

.nav__menu {
    position: fixed;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top;
    width: 100vh;
}

.menu {
    display: flex;
}

.nav__list {
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;
}

.nav__link {
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 2rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: .4s;
    font-size: 30px;
}



/* Active Link */
.nav__link.active-link,
.nav__link:hover {
    color: red;

}

.nav__link.active-link::after,
.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    background-color: red;
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}

/*=============== MAIN ===============*/
.main {
    padding: 100px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}